Makefile
eu.tiliado.NuvolaAppGoogleCalendar.appdata.xml
eu.tiliado.NuvolaAppGoogleCalendar.data.service
eu.tiliado.NuvolaAppGoogleCalendar.desktop
google_calendar.tar.gz
icons
metadata.json
nuvola-app-google-calendar
eu.tiliado.NuvolaAppGoogleCalendar.service
eu.tiliado.WebRuntimeAppGoogleCalendar.appdata.xml
eu.tiliado.WebRuntimeAppGoogleCalendar.desktop
eu.tiliado.WebRuntimeAppGoogleCalendar.service
nuvola-app-google-calendar.metainfo.xml
/screenshots/
